// ================================
// Color Palette
// ================================
$color-primary: #364557;
$color-secondary: #586574;
$color-accent1: #bd8bca;
$color-accent2: #CAA3D5;
$color-accent3: #e4e4e4;

// ================================
// Typography
// ================================
$base-font-size: 18px;
$base-line-height: 160%;

// Font Weights
$font-weight--thin: 200;
$font-weight--light: 300;
$font-weight--regular: 400;
$font-weight--medium: 500;