.logo {
    margin-bottom: -10px;
    font-size: 1.11111111rem;
    font-weight: $font-weight--thin;
    font-style: italic;
    line-height: 1.27777778rem;
    display: block;
}
.logo-tagline {
    font-size: .667rem;
    font-weight: $font-weight--thin;
    font-style: italic;
    line-height: .778rem;
}