.social-links {
    margin-top: 80px;
    display: flex;
    justify-content: center;

    // Tablet Viewport
    @media screen and (min-width: 768px) {margin-top: 50px;}

    & > li:first-child {padding-left: 0;}
}

.social-link {
    padding-left: 1.22rem;

    & svg {
        transition: 0.3s;
        &:hover {fill: $color-accent1;}
    }
}
